@font-face {
    font-family: 'Gotham'; /*a name to be used later*/
    src: url('../font/Gotham\ Bold.otf'); /*URL to font*/
}

body {
	margin: 0;
	font-family: 'Gotham';
	background-color: #212c1b;
	color: black;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

input#input, button {
    height: 10vw;
    width: 80vw;
    font-size: 4em;
    text-transform: uppercase;
    border: 0;
    text-align: center;
    font-weight: 700;
}

button {
    width: unset;
    font-size: unset;
}


.tile {
    height: 5em;
    width: 5em;
    background-color: #f3ecd9;
    padding: 0.25vh;
    margin: 0.25vh;
    border-radius: 0.5em;
}

div#all_letter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vh;
}

.tile_upper_part {
    font-size: 4em;
    text-align: center;
}

.tile_lower_part {
    margin-right: 0.85vh;
    font-size: 1em;
    position: relative;
    text-align: right;
    margin-top: -1em;
}

div#score {
    color: white;
    padding: 5vh;
    font-size: 5vh;
}

div#word_input {
    display: flex;
}